.slider-wrapper {
  background: #154b7b;
  scroll-margin: 49px;
  .mini-wrapper {
    overflow: hidden;
    br {
      display: none;
    }
    .heading {
      font-family: "raleway-medium";
      font-size: 46px;
      text-align: center;
      color: white;
      padding-top: 50px;
      @media screen and (max-width: 768px) {
        font-size: 30px;
      }
    }
    hr {
      width: 60px;
      margin: auto;
      color: #77bf43;
      opacity: 1;
      border: 2px solid #77bf43;
      border-radius: 5px;
      margin-bottom: 50px;
    }
    .carousel-inner {
      overflow: visible;
    }
    .carouselColor {
      background: #f7f7f7;
      .client-image {
        background: url("../images/clients/client.jpg");
        background-position: 80% 20%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60px;
        width: 60px;
        margin: auto;
        border-radius: 50px;
        border: 4px solid #f7f7f7;
        margin-top: -20px;
        display: none;
      }
      .client-name {
        text-align: center;
        font-family: "poppins-light";
        font-size: 20px;
        font-style: italic;
        padding-top: 60px;
        @media screen and (max-width: 575px) {
          font-size: 14px;
        }
      }
      .client-review {
        font-family: "poppins-light";
        width: 70%;
        margin: auto;
        font-style: italic;
        padding-top: 20px;
        padding-bottom: 60px;
        .client-review-text {
          text-align: center;
          font-size: 16px;
          @media screen and (max-width: 575px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
