* {
  box-sizing: border-box;
}
.main-header {
  .collapse-div {
    position: absolute !important;
    top: 0 !important;
    z-index: 1000;
    min-height: 100vh;
    width: 100%;
    background-color: #003366f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10vh 0px;
    .img-logo {
      width: fit-content;
      margin: auto;
      margin-bottom: 0px;
      margin-top: 0px;
      img {
        @media screen and (min-width: 1441px) {
          width: 83px;
        }
        @media screen and (max-width: 1440px) {
          width: 60px;
        }
      }
    }
    .social-media-icons {
      display: flex;
      justify-content: center;
      gap: 8px;
      svg {
        width: 21px;
        fill: white;
      }
      .face {
        width: 25px;
      }
      .flex-item {
        cursor: pointer;
      }
    }
    .close-icon {
      position: absolute;
      top: 14px;
      right: 20px;

      img {
        width: 40px;
        cursor: pointer;
      }
    }
  }
  .open {
    top: 0 !important;
    transition: 0.5s;
  }
  .close {
    min-height: 100vh;
    min-width: 100%;
    transition: 0.5s;
    top: -110vh !important;
  }
  .banner-img {
    background: url("../images/Main-banner.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    .icon {
      color: white;
    }
    .navbar-brand {
      padding-left: 20px;
    }
    .navbar-toggle-button {
      padding-right: 20px;
    }
    .navbar {
      background-color: transparent;
      padding-bottom: 0px;
      transition: 0.5s ease;
    }
    .navbar-nav {
      padding: 10px 0px 15px;
      width: fit-content;
      margin: auto;
      a {
        width: fit-content;
        margin: auto;
        border-bottom: 3px solid transparent;
        text-transform: uppercase;
        font-family: poppins-bold;
        padding-bottom: 0px;
        margin-bottom: 5px;
        line-height: 27px;
        @media screen and (min-width: 1441px) {
          font-size: 32px;
        }
        @media screen and (max-width: 1440px) {
          font-size: 23px;
        }
        // @media screen and (max-width: 600px) {
        //   font-size: 16px;
        // }
        &:hover {
          border-bottom: 3px solid #99cc33;
        }
      }
      .active {
        border-bottom: 3px solid #99cc33 !important;
      }
    }
    .colorChange {
      background-color: rgb(21, 75, 123);
      transition: 0.3s ease-in-out;
    }
    .background {
      background-color: rgb(21, 75, 123);
      transition: 0.3s ease-in-out;
    }
    .navbar-toggler:focus {
      box-shadow: none;
    }
    .nav-links-background {
      color: white !important;
      margin-left: 2rem;
      margin-right: 2rem;
      padding-bottom: 0.3rem;
      border-bottom: 1px solid white;
    }
    .logo-img {
      width: 130px;
    }
    .wrapper {
      width: 80%;
      margin: auto;
      height: 85vh;
      display: flex;
      align-items: center;
      .Typewriter__cursor {
        display: none;
      }
      .left-text-section {
        width: 50%;
        .border-top-text {
          color: white;
          font-family: "rubik-medium";
          font-size: 16px;
          text-align: right;
          letter-spacing: 1px;
          word-spacing: 1.5px;
          margin-right: 5px;
        }
        .border-bottom-text {
          color: white;
          font-family: "rubik-medium";
          font-size: 16px;
          text-align: right;
          letter-spacing: 1.2px;
          word-spacing: 4px;
          margin-right: 5px;
        }
        .left-heading {
          width: fit-content;
          margin-left: auto;
          border: 10px solid rgba(34, 32, 32, 0.5);
          border-right: none;
          padding: 5px 15px 5px 50px;
          h1 {
            font-size: 120px;
            font-family: poppins-bold;
            color: white;
          }
        }
      }
      .right-text-section {
        width: 50%;
        .right-heading {
          border: 18px solid #fff;
          border-left: none;
          width: fit-content;
          padding: 35px 50px 35px 20px;
          h1 {
            font-size: 45px;
            font-family: poppins-bold;
            color: white;
          }
        }
      }
    }
    .down-arrow-icon {
      cursor: pointer;
      animation: MoveUpDown 1s linear infinite;
    }
    @keyframes MoveUpDown {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
    }
  }
  @media screen and (min-width: 512px) and (max-width: 674px) {
    .banner-img {
      background-position: center;
      background-size: cover;
      .wrapper {
        .left-text-section {
          .border-top-text {
            color: white;
            font-family: "rubik-medium";
            font-size: 12px;
            text-align: right;
            letter-spacing: 1px;
            word-spacing: 0.5px;
            margin-right: 5px;
          }
          .border-bottom-text {
            color: white;
            font-family: "rubik-medium";
            font-size: 12px;
            text-align: right;
            letter-spacing: 1.2px;
            word-spacing: 1px;
            margin-right: 5px;
          }
          .left-heading h1 {
            font-size: 80px;
            font-family: poppins-bold;
            color: white;
          }
        }
        .right-text-section {
          .right-heading {
            border: 18px solid #fff;
            border-left: none;
            width: fit-content;
            padding: 10px 30px 10px 10px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 511px) {
    .banner-img {
      .wrapper {
        .left-text-section {
          .border-top-text {
            color: white;
            font-family: "rubik-medium";
            font-size: 9px;
            text-align: right;
            word-spacing: 0px;
            margin-right: 0px;
          }
          .border-bottom-text {
            color: white;
            font-family: "rubik-medium";
            font-size: 9px;
            text-align: right;
            word-spacing: -0.5px;
            margin-right: 2px;
            margin-top: 3px;
          }
          .left-heading h1 {
            font-size: 55px;
            font-family: poppins-bold;
            color: white;
          }
          .left-heading {
            width: -moz-fit-content;
            width: fit-content;
            margin-left: auto;
            border: 10px solid rgba(34, 32, 32, 0.5);
            border-right: none;
            padding: 5px 15px 5px 40px;
          }
        }
        .right-text-section {
          .right-heading h1 {
            font-size: 25px;
            font-family: poppins-bold;
            color: white;
          }
          .right-heading {
            border: 18 px solid #fff;
            border-left: none;
            width: fit-content;
            padding: 18px 30px 18px 10px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 386px) {
    .banner-img {
      .wrapper {
        .left-text-section {
          .border-top-text,
          .border-bottom-text {
            display: none;
          }
          .left-heading h1 {
            font-size: 55px;
            font-family: poppins-bold;
            color: white;
          }
          .left-heading {
            width: -moz-fit-content;
            width: fit-content;
            margin-left: auto;
            border: 10 px solid rgba(34, 32, 32, 0.5);
            border-right: none;
            padding: 10px 10px 5px 20px;
          }
        }
        .right-text-section {
          .right-heading {
            border: 15px solid #fff;
            border-left: none;
            width: -moz-fit-content;
            width: fit-content;
            padding: 20px 25px 20px 10px;
          }
          .right-heading h1 {
            font-size: 24px;
            font-family: poppins-bold;
            color: white;
          }
        }
      }
    }
  }
}
