.map-section-wrapper {
  margin-top: 50px;
  scroll-margin: 49px;
  .flex-container {
    display: flex;
    .text-section {
      background: #77bf43;
      flex-basis: 50%;
      color: white;
      padding-left: 8%;
      padding-bottom: 50px;
      a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        display: block;
        font-family: "poppins-regular";
        margin-bottom: 10px;
        width: fit-content;
        @media screen and (max-width: 767px) {
          margin: auto;
          margin-bottom: 10px;
        }
      }
      .logo {
        padding-top: 50px;
      }
      .text-para {
        font-family: "poppins-regular";
        font-size: 14px;
        width: 80%;
        padding-top: 20px;
        margin-bottom: 10px;
      }
      span {
        font-family: "poppins-semibold";
        font-size: 14px;
      }
      p {
        font-family: "poppins-regular";
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
    .map-section {
      flex-basis: 50%;
      iframe {
        height: 100%;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .flex-container {
      flex-wrap: wrap;
      text-align: center;
      .text-section {
        flex-basis: 100%;
        padding-left: 0;
        .text-para {
          margin: auto;
          margin-bottom: 10px;
        }
      }
      .map-section {
        flex-basis: 100%;
        height: 300px;
      }
    }
  }
}
