.client-wrapper {
  overflow: hidden;
  .heading-text {
    font-family: "raleway-medium";
    font-size: 46px;
    text-align: center;
    color: #113c62;
    // padding-top: 60px;
    padding-top: 90px;
  }
  hr {
    width: 60px;
    color: #77bf43;
    border: 2px solid #77bf43;
    opacity: 1;
    margin: auto;
    border-radius: 5px;
  }
  .desc-text {
    text-align: center;
    padding-top: 15px;
    font-family: "poppins-regular";
    font-size: 14px;
  }
  .flex-container {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    .flex-item {
      img {
        width: 125px;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .flex-container {
      .flex-item {
        img {
          width: 110px;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .flex-container {
      width: 90%;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      .flex-item {
        flex-basis: 33.3333%;
      }
    }
  }
  @media screen and (max-width: 575px) {
    .flex-container {
      width: 90%;
      flex-wrap: wrap;
      text-align: center;
      .flex-item {
        flex-basis: 50%;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .heading-text {
      font-size: 30px;
    }
  }
  @media screen and (max-width: 575px) {
    .heading-text {
      // font-size: 20px;
      font-size: 32px;
      // padding-top: 50px;
      padding-top: 0px;
    }
    .desc-text {
      width: 80%;
      margin: auto;
      font-size: 12px;
    }
  }
}
