.recent-work {
  scroll-margin: 49px;
  background: #f7f7f7;
  .main-slide {
    overflow: hidden;
  }
  .heading {
    font-family: "raleway-medium";
    font-size: 46px;
    color: #13436d;
    text-align: center;
    padding-top: 60px;
    @media screen and (max-width: 768px) {
      font-size: 32px;
    }
  }
  hr {
    width: 60px;
    margin: auto;
    color: #77bf43;
    opacity: 1;
    height: 4px;
    border: 2px solid #77bf43;
    border-radius: 5px;
  }
  .description-text {
    font-family: "poppins-regular";
    font-size: 16px;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 50px;
  }
}
