* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-wrapper {
  scroll-margin: 49px;
  .wrapper {
    .col-width {
      padding: 0px;
    }
    .box-color {
      background: #6bac3c !important;
    }
    .service-section {
      background: #113c62;
      color: white;
      display: flex;
      padding: 0px;
      width: 100%;
      height: 100%;
      .service-heading {
        width: 30%;
        text-align: right;
        overflow: hidden !important;
        h1 {
          font-family: "raleway-medium";
          font-size: 22px;
          writing-mode: vertical-rl;
          transform: rotate(-180deg);
          padding-bottom: 50px;
          padding-right: 45px;
          line-height: 1em;
        }
        .numbers {
          text-align: left;
          writing-mode: vertical-lr;
          margin-left: -30px;
          margin-top: 45px;
          opacity: 0.3;
          h2 {
            font-family: poppins-light;
            font-size: 70px;
          }
        }

        .numberThree {
          margin-top: 55px;
        }
        .numberFour {
          margin-top: 135px;
        }
        .numberFive {
          margin-top: 70px;
        }
        .numberSix {
          margin-top: 30px;
        }
      }
      .service-details {
        width: 70%;
        justify-items: flex-end;
        .service-image {
          text-align: center;
          img {
            padding-top: 50px;
            width: 100%;
          }
        }
        .service-text-descr {
          width: 90%;
          padding-top: 10px;
          font-size: 13px;
          font-family: "poppins-regular";
        }
      }
    }
  }
}
