.footer-sec-wrapper {
  background-color: #f7f7f7;
  .social-media-icons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 8px;
    svg {
      width: 20px;
      fill: #154b7b;
    }
    .face {
      width: 23px;
    }
    .flex-item {
      cursor: pointer;
    }
  }
  .copy-right {
    text-align: center;
    font-family: "poppins-regular";
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    @media screen and (max-width: 575px) {
      font-size: 10px;
    }
  }
  // @media screen and (max-width: 575px) {
  //   .social-media-icons {
  //     flex-wrap: wrap;
  //     text-align: center;
  //     gap: 0;
  //     row-gap: 10px;
  //     .flex-item {
  //       flex-basis: 50%;
  //     }
  //   }
  // }
}
