.teem-wrapper {
  scroll-margin: 49px;
  overflow: hidden;
  // .spaces {
  //   margin-bottom: 50px !important;
  //   @media screen and (max-width: 750px) {
  //     margin-bottom: 0px !important;
  //   }
  // }
  // .spaces-r {
  //   padding-right: 15px;
  // }
  // .spaces-l {
  //   padding-left: 15px;
  // }
  .svgCon {
    text-align: left;
    position: absolute;
    bottom: 15px;
    @media screen and (max-width: 575px) {
      display: none;
    }
    svg {
      width: 25px;
      fill: #b6b6b6;
      margin-right: auto;
    }
  }
  .right {
    text-align: right;
    right: 20px;
  }
  .tab-right {
    @media screen and (max-width: 768px) {
      right: 20px;
      svg {
        transform: scaleX(-1);
      }
    }
  }
  .tab-left {
    @media screen and (max-width: 768px) {
      left: 20px;
      text-align: left;
      svg {
        transform: scaleX(-1);
      }
    }
  }

  .main-heading {
    font-family: "raleway-medium";
    font-size: 46px;
    text-align: center;
    color: #113c62;
    padding-top: 60px;
  }
  .main-para-head {
    margin-bottom: 50px;
  }
  hr {
    width: 60px;
    margin: auto;
    color: #77bf43;
    border: 2px solid #77bf43;
    opacity: 1;
    border-radius: 3px;
  }
  .text-para {
    font-family: "poppins-light";
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
  }
  .box-wrapper {
    display: flex;
    flex-wrap: wrap;
    .title {
      font-family: "raleway-bold";
      font-size: 22px;
      text-transform: uppercase;
    }
    .sub-title {
      font-family: "raleway-semibold";
      font-size: 18px;
      text-transform: capitalize;
    }
    .about-section {
      font-family: "poppins-regular";
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 20px;
      p {
        width: 88%;
        margin-right: auto;
      }
    }
    .text-box {
      @media screen and (min-width: 1441px) {
        padding: 50px 0px 50px 20px;
      }
      @media screen and (max-width: 1440px) {
        padding: 20px 0px 20px 20px;
      }
      flex-basis: 25%;
      position: relative;
      overflow: hidden;
    }
    .text-box:hover {
      background: #154b7b;
      color: white;
      svg {
        fill: white;
      }
    }
    .image-box {
      background-position: top center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      flex-basis: 25%;
      overflow: hidden;
    }
    .parent-box {
      display: flex;
      width: 50%;
      .img-width {
        flex-basis: 50%;
      }
      .text-box-width {
        flex-basis: 50%;
      }
    }

    .box-1 {
      background: url("../images/team/team-zeeshan.jpg");
      flex-basis: 25%;
      overflow: hidden;
    }

    .box-3 {
      background: url("../images/team/team-nadeem.jpg");
      overflow: hidden;
    }
    .box-6 {
      background: url("../images/team/team-sikandar.jpg");
      // background: url("../images/team/team-waqas.png");
      overflow: hidden;
    }
    .box-8 {
      background: url("../images/team/team-sikandar.jpg");
      overflow: hidden;
    }
    .box-9 {
      background: url("../images/team/team-shaz.jpg");
      overflow: hidden;
    }
    .box-9-mview {
      display: none;
    }
    .box-11 {
      background: url("../images/team/team-raweewan.jpg");
      overflow: hidden;
    }
    .mobile-view {
      display: flex;
      width: 100%;
      flex-basis: 50%;
      @media screen and (max-width: 768px) {
        flex-basis: 100%;
      }
      @media screen and (max-width: 575px) {
        flex-direction: column;
        min-height: 531px;
      }
      .text-box {
        flex-basis: 50%;
        @media screen and (max-width: 575px) {
          flex-basis: 45%;
        }
      }
      .box-8 {
        flex-basis: 50%;
        @media screen and (max-width: 575px) {
          flex-basis: 55%;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .text-box {
        flex-basis: 50%;
      }
      .image-box {
        flex-basis: 50%;
      }
      .parent-box {
        width: 100%;
        flex-direction: row-reverse;
      }
    }
    @media screen and (max-width: 575px) {
      .text-box {
        flex-basis: 100%;
      }
      .image-box {
        flex-basis: 100%;
        height: 280px;
        background-position: top center !important;
      }
      .parent-box {
        width: 100%;
        flex-wrap: wrap;
        .img-width {
          flex-basis: 100%;
        }
        .text-box-width {
          flex-basis: 100%;
        }
        .order-text {
          order: 2;
        }
        .order-img {
          order: 1;
        }
      }
      .order-text-two {
        order: 1;
      }
      .order-img-two {
        order: 0;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .main-heading {
      font-size: 30px;
      text-align: center;
    }
    .text-para {
      width: 80%;
      margin: auto;
    }
    .raweewan-div {
      flex-direction: row !important;
      .tab-right {
        left: 20px !important;
        svg {
          transform: scaleX(1) !important;
        }
      }
    }
  }
  @media screen and (max-width: 575px) {
    .main-heading {
      font-size: 32px;
    }
    .shehzad-div {
      flex-direction: column-reverse !important;
    }
    .box-9 {
      display: none;
    }
    .box-9-mview {
      display: block !important;
    }
  }
}
