.web-agency-wrapper {
  .banner-image {
    background: url("../images/passion-banner.jpg");
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    .main-heading {
      font-family: "raleway-semibold";
      font-size: 58px;
      line-height: 1em;
      @media screen and (max-width: 768px) {
        font-size: 40px;
      }
    }
    .sub-heading {
      font-family: "raleway-semibold";
      font-size: 32px;
      line-height: 1em;
      padding-top: 10px;
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
    hr {
      width: 60px;
      opacity: 1;
      color: #77bf43;
      border: 2px solid #77bf43;
      border-radius: 3px;
    }
    .first-para,
    .second-para {
      font-family: "poppins-light";
      font-size: 14px;
      width: 42%;
      @media screen and (max-width: 768px) {
        width: 80%;
      }
    }
  }
  @media screen and (max-width: 575px) {
    br {
      display: none;
    }
    .banner-image {
      padding-left: 0;
      text-align: center;
    }
    hr {
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .first-para,
    .second-para {
      margin: auto;
    }
    .main-heading {
      font-size: 32px !important;
      width: 80%;
      margin: auto;
      margin-bottom: 10px;
    }
    .sub-heading {
      font-size: 16px !important;
      width: 80%;
      margin: auto;
      margin-bottom: 10px;
    }
  }
}
