* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.whoweare-wrapper {
  $xl: 1440px; //Desktop
  $lg: 1040px; //Laptop
  $md: 768px; //Tablet
  $sm: 425px; //Mobile Large
  $xs: 375px; //Mobile Medium
  scroll-margin: 49px;
  .Container-wrapper {
    overflow-x: hidden;
  }
  .image-section {
    background: url("../images/about/about.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    // Media Query For Image Start
    // Media Query For Image Start
    @media screen and (max-width: 991px) {
      height: 400px;
    }
    @media screen and (max-width: 768px) {
      background-position: center center;
    }
    @media screen and (max-width: 575px) {
      height: 350px;
      background-position: center center;
    }
    // Media Query For Image Ends
    // Media Query For Image Ends
  }
  .text-section {
    padding: 50px 0px;
    padding-left: 30px;
    .heading {
      font-family: "raleway-regular";
      padding-left: 20px;
      h1 {
        font-size: 42px;
        color: #13436d;
      }
    }
    .subHeading {
      font-family: "raleway-semibold";
      padding-left: 25px;
      h6 {
        font-size: 21px;
        color: #13436d;
      }
      hr {
        width: 60px;
        height: 4px;
        border-radius: 50px;
        background-color: #77bf43;
        opacity: 1;
      }
    }
    .text-description {
      font-family: "poppins-light";
      padding-left: 25px;
      p {
        width: 80%;
        font-size: 14px;
        color: rgb(41, 37, 37);
        padding-bottom: 10px;
      }
    }
    // Media Query For Text Start
    // Media Query For Text Start
    @media screen and (min-width: 320px) and (max-width: 575px) {
      padding-left: 0px;
      .heading,
      .subHeading,
      .text-description {
        text-align: center;
        padding-left: 0px;
      }
      .heading h1 {
        font-size: 30px;
      }
      .subHeading h6 {
        font-size: 16px;
      }
      .text-description p {
        margin: auto;
      }

      hr {
        margin: auto;
        margin-bottom: 10px;
      }
    }
    // Media Query For Text Ends
    // Media Query For Text Ends
  }
}
